.grid {
    width: 400px;
    height: 600px;
    background-color: antiquewhite;
    position: relative;
    font-size: 100px;
    text-align: center;
  }
  
  .doodler {
    width: 85px;
    height: 140px;
    background-image: url('miffyy.png');
    position: absolute;
  }
  
  .platform {
    width: 85px;
    height: 15px;
    background-color: navy;
    position: absolute;
  }